.visualizer
  position relative
  &__canvas
    width 100vw
    height 100vh
    background-color #0b0013

  &__audio
    display none

  &__canvas
  &__img 
    cursor pointer

  &__cover
  &__img
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)

  &__cover
    position absolute
    border-radius 50%
    overflow hidden
    user-select none
    &:hover 
      margin-top 0 !important
      margin-left 0 !important

  &__img 
    width 75%
    height auto
