body
  margin 0

#oscilloscope
  width 100vw
  height 100vh
  background-color black

img 
  width 150px
  height auto
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)

audio
  display none;

#oscilloscope
img 
  cursor pointer;