@import url('https://fonts.googleapis.com/css?family=Thasadith');

aligment(location)
  if location is center 
    position absolute
    top 50%
    left 50%
    transform: translate(-50%)

*
  box-sizing border-box
  font-family: 'Thasadith', sans-serif;

body
  width 100vw
  height 100vh
  margin: 0
  background-color #0b0013
  
.paragraph
  background-color #3d3d3d
  color #fff
  display inline-block
  padding 5px
  margin-top -20px
  aligment center

  .in-line
    font-size 32px
    text-transform uppercase

